@import 'tailwindcss';

@theme {
  --color-primary: #1a73e8;
  --color-secondary: #f50057;
  --color-accent: #fdb056;
  --color-darkgreen: #1d5b43;
  --color-dark: #232829;
  --color-light: #f8f9fa;
  --color-white: #ffffff;
  --color-success: #10b981; /* добавьте если нужно */
  --color-warning: #f59e0b; /* добавьте если нужно */

  --background: var(--color-dark);
  --foreground: var(--color-white);

  /* Опционально: кастомные шрифты */
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}
